@model EntityLayer.Concrete.Admin

@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni admin ekleme sayfası</h1>
<br />
@using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Admin Kullanıcı Adı")
    @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })

    <br />
    @Html.Label("Şifreyi Giriniz")
    @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })

    <br />

    @Html.Label("Rolü Seçiniz")
    @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
    @*@Html.DropDownListFor(x => x.AdminID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })*@

    <br /><br />
    <button class="btn btn-info" id="kaydet">Kaydet</button>
</div>
}

